<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.popular_movies.app">

    <uses-permission android:mName="android.permission.INTERNET" />
    <uses-permission android:mName="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:mName=".MainActivity">
            <intent-filter>
                <action android:mName="android.intent.action.MAIN" />

                <category android:mName="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:mName=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:mName="android.support.PARENT_ACTIVITY"
                android:value="com.popular_movies.app.MainActivity" />
        </activity>
        <activity
            android:mName=".DetailActivity"
            android:label="Movie Details"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:mName="android.support.PARENT_ACTIVITY"
                android:value="com.popular_movies.app.MainActivity" />
        </activity>
    </application>

</manifest>